<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <form action="/listings" method="post">
        <input type="text" name="listing[name]" placeholder="Name"><br><br>
        <textarea name="listing[description]"  placeholder="Description"></textarea><br><br>
        <input type="text" name="listing[image]" placeholder="enter image URl"><br><br>
        <input type="number" name="listing[price]" placeholder="Price"><br><br>
        <input type="text" name="listing[title]" placeholder="enter title"><br><br>
        <input type="text" name="listing[location]" placeholder="enter location"><br><br>
        <input type="text" name="listing[country]" placeholder="enter country"><br><br>
        <button>Add</button>
        

    </form>
</body>
</html>